<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>

    <script>
        const googleKey = '<%= loginKey.google %>';
        const facebookKey = '<%= loginKey.facebook %>';

        function start() {
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                    client_id: googleKey,
                    scope: 'profile email'
                });
            });
        }
        FB.init({
            appId   : facebookKey,
            cookie  : true,
            status  : true,
            xfbml   : true,
            auth_type: 'rerequest',
            state: 'silva',
            version : 'v2.9'
        });
    </script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="email"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
    <div class="error-field">
        <% if (errors) { %>
        <ul>
            <% errors.forEach( e => { %>
            <li><%= e %></li>
            <% }); %>
        </ul>
        <% } %>
    </div>
</form>

<div class="social-login">
    <button id="facebook-login">Login with Facebook</button>
    <hr>
    <button id="signinButton">Login with Google</button>
</div>

<script>

    function signInCallback(authResult) {
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
            // Send the code to the server
            $.ajax({
                type: 'POST',
                url: '/login/social/verify/google',
                // Always include an `X-Requested-With` header in every AJAX request,
                // to protect against CSRF attacks.
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                contentType: 'application/json; charset=utf-8',
                success: function(result) {

                },
                processData: false,
                data: JSON.stringify({code: authResult['code']})
            });
        } else {
            // There was an error.
        }
    } //
    $('#signinButton').click(function() {
        // signInCallback defined in step 6.
        auth2.grantOfflineAccess().then(signInCallback);
    });
    $('#facebook-login').click(function(event) {
        FB.login(function(response) {
            if (response.authResponse) {
                console.log('---___---', response);
                // send access_token to the back-end here
                $.ajax({
                    type: 'POST',
                    url: '/login/social/verify/facebook',
                    // Always include an `X-Requested-With` header in every AJAX request,
                    // to protect against CSRF attacks.
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {

                    },
                    processData: false,
                    data: JSON.stringify({code: response.authResponse})
                });
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        },{scope: 'public_profile,email'});
    });
</script>
</body>
</html>

