<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script >
        const facebookKey = '<%= loginKey.facebook %>';
        FB.init({
            appId   : facebookKey,
            cookie  : true,
            status  : true,
            xfbml   : true,
            state: 'silva',
            version : 'v2.9'
        });
    </script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="email"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
    <div class="error-field">
        <% if (errors) { %>
        <ul>
            <% errors.forEach( e => { %>
            <li><%= e %></li>
            <% }); %>
        </ul>
        <% } %>
    </div>
</form>

<div class="social-login">
    <button id="facebook-login">Login with Facebook</button>
</div>

<script>
    $(document).ready(function() {
        $('#facebook-login').click(function(event) {
            FB.login(function(response) {
                if (response.authResponse) {
                    // send access_token to the back-end here
                    $.ajax({
                        type: 'POST',
                        url: '/login/social/verify/facebook',
                        // Always include an `X-Requested-With` header in every AJAX request,
                        // to protect against CSRF attacks.
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        contentType: 'application/json; charset=utf-8',
                        processData: false,
                        data: JSON.stringify({code: response.authResponse}),
                        success: function(result) {
                            console.log(result)
                        },
                        error: function (result) {
                            const {status, responseText} = result;
                            if (status === 400 && responseText === "MISSING_EMAIL") {
                                alert('Please Re-authorize your email in the Tab, we need that!')
                            }
                        }
                    });

                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            },{scope: 'public_profile,email', auth_type: 'rerequest', return_scopes: true});
        });
    });
</script>
</body>
</html>

